/*
Theme Name: 5th Ave
Theme URI: http://katychuang.com
Description: A minimalist theme with excerpts on the front and a customizable footer.
Version: 0.1
Author: Kat Chuang
Author URI: http://katychuang.com
Tags: custom-colors, theme-options, two-columns, fixed-width, rtl-language-support, custom-background, translation-ready, blog, photography, portfolio, clean, elegant, minimal
*/


@import url('https://fonts.googleapis.com/css?family=Halant|Inconsolata|Montserrat');

main a, main a.url, main a.url span {
    font-family: 'Halant', serif;
}

main div.verbatim {
    overflow-x: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
}

div {
    width: 100%;
}

p {
    width: 85% !important;
    word-break: normal;
    white-space: normal;
}

body {
    width: 100%
    height: 100%
    color: #000;
    background-color: rgb(248, 249, 250);
}

html {
    width: 100%;
    height: 100%;
}

.paper {
    color: #000;
    background-color: white;
    font-family: 'Halant', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    padding: 30px 0 30px 0;
}

a{
    color: rgb(109, 145, 225);
    text-decoration: none;
}

header {
    border-bobrowsingttom: 1px solid rgb(109, 145, 225);
    padding: 2.5em 0px 12px 0px;
    z-index: 999;
    width: 100%;
}

div.logo {
    width:100%;
    text-align: center;
}

div.logo a {
    color: #1A9485;
    font-family: 'Montserrat', serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
}

header nav {
    margin-top: 20px;
    text-align: center;
}

header nav a {
    color: #1A9485;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover {
    /*background:#113;*/
    color: #5bbaad;
    text-decoration: none;
}


footer {
    color: #333;
    font-size: 12px;
    padding: 32px 0px 32px 0px;
    text-align: center;
    position:static;
    bottom:0;
    left:0;
    width:100%;
}

footer a {
    color: #9b6400;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
}

main {
    background-color: rgb(248, 249, 250);
    padding: 0px 20px 15px 20px;
}

main div.info {
    width: 600px;
    margin: auto;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: arial;
    color: #AAA;
    font-size: .8em;
    margin-bottom: 2em;
}

main p, main h1, main h2, main h3, main h4, main h5, main ol, main ul, main blockquote {
    width: 90%;
    margin: auto;
    line-height: 1.75em;
}

main h1, main h2, main h3, main h4, main h5, main ol, main ul{
    margin-top: 0.9em;
    margin-bottom: 0.5em;
    line-height: 2em;
}

main p + p {
    margin-top: 1.8em;
}

main img, main img.main-img, main img.main-img:hover {
    padding: 10px;
    border:1px solid rgba(0,0,0,0.2);
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.3)) opacity(0.7);
    max-width: 350px;
    width: 80%;
    transition: width 0.2s, height 0.4s;
}

main img.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main img:hover{
    background: #FFF;
    border-color: #1A9485;
    filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.2)  opacity(1));
    -webkit-transition: width 0.2s, height 0.4s; /* Safari */
    transition: width 0.2s, height 0.4s;
}

main a, main a:visited {
    font-weight: bold;
    color: #28539C;
    cursor: pointer;
}

main a:hover, main a:focus{
    color: #6788c1;
}

main blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px solid #CCC;
}

div.sourceCode, pre {
    width: 80%;
    margin: 10px auto 10px auto;
    padding: 10px 0px 10px 0px;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(248,249,250);
    color: #000;
    word-break: normal;
    overflow-x: auto;
}

div.sourceCode pre {
    width: 100%;
    overflow-x: auto;
    margin: 0px;
    padding: 0px;
}

a.sourceLine {
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
    color: #000;
    cursor: text;
}

a.sourceLine:hover {
    color: #000;
    cursor: text;
}

code {
    font-family: 'Inconsolata', monospace;
}

table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 80%;
    margin: auto;
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}

table tbody > tr:last-child > td {
    border-bottom-width: 0;
}

.tikzpicture {
    width: 70%;
    margin: auto;
    display: block;
}

embed.tikzpicture svg {
    margin: auto;
    width: 100%;
}

.center {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.difficult::before {
    content: "!";
}

.extra-difficult::before {
    content: "!!";
}

figure {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    text-align: center;
}
