@import url('https://fonts.googleapis.com/css?family=Halant|Inconsolata|Montserrat');

.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
}

.tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

span.verb {
    font-family: 'Inconsolata';
}

main div.verbatim {
    font-family:  'Inconsolata', monospace;
    width: 80%;
    margin: 10px auto 10px auto;
    padding: 10px 10px 30px 10px;
    background-color: rgb(248, 249, 250);
    color: #000;
    word-break: normal;
}

.framedenv {
    border-radius: 10px;
    width: 100%
    margin: auto;
}

dl dd {
    margin-left: 30px;
    margin-right: 30px;
}

dl dd dl {
    margin-left: 10px;
    margin-right: 10px;
}

dl dd dl dd {
    margin-left: 40px;
    margin-right: 40px;
}

ol li p, ul li p, dl dd p {
    margin-left: 0px;
    margin-right: 0px;
}

dt tspan {
    font-weight: bold;
}

dd dl dt {
    margin-top: 0px;
    margin-bottom: 0px;
}

dl, ul, ol {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

dt {
    float: left;
    clear: left;
    text-align: right;
    margin-left: 0.5em;
    padding-right: 5px;
}

dd {
    margin: 0 0 0 55px;
    padding: 0 0 1em 0;
}

dl dd ul {
    display: block;
    padding-top: 2em;
}


div.tabular table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: none;
    width: 80%;
    margin: auto;
}
div.tabular table td {
    border-left: none;
    border-width: 0 0 0 0px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0em 0em; /* cell padding */
}

td, .minipage {
    white-space: normal !important;
    word-wrap: normal;
    overflow-wrap: normal;
}

.figure {
    text-align: center;
    margin: auto;
    width: 50%;
}
.figure object {
    text-align: center;
    margin: auto;
    width: 99%;
}

div.date {
    display: none;
}

div.maketitle {
    margin-bottom: 0em !important;
}

h2.titleHead {
    width:  90%;
    margin-bottom: 0em !important;
    line-height: 1em !important;
}

img.inline-math,img.display-math,img.math-display,img.math-display:hover {
    padding: 10px;
    border: 0px none;
    width: auto;
    transition: width 0.2s, height 0.4s;
}
