@mixin left-col($opacity) {
    & ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 1010px rgba(0, 0, 0, $opacity), inset 0 0 0 20px rgba(0, 0, 0, $opacity);

        &:hover {
            box-shadow: 0 0 0 1010px rgba(0, 0, 0, $opacity), inset 0 0 0 20px rgba(0, 0, 0, $opacity), 0 0 0 8px rgba(0, 0, 0, $opacity), inset 0 0 0 20px rgba(0, 0, 0, $opacity);
        }

        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg) scale(1);
        }
    }

    &:focus ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 1010px rgba(0, 0, 0, $opacity), inset 0 0 0 20px rgba(0, 0, 0, $opacity), 0 0 0 8px rgba(0, 0, 0, $opacity), inset 0 0 0 20px rgba(0, 0, 0, $opacity);
    }
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

.container {
    pointer-events: none;
}

.container #toggle {
    pointer-events: default;
}

#toggle:checked {
    & ~ .nav {
        .nav-item {
            font-size: 16px;
            color: #FC9953;
        }
    }

    @include left-col(0.8);
}

@media only screen and (min-width: 768px) {
    /* desktop */
    .col-1 {
        width: 20%;
    }

    .col-2 {
        width: 60%;
    }

    .col-3 {
        width: 20%;
    }

    .container {
        width: 20%;
    }

    .js-toc {
        width: 18%;
    }

    $opacity: 0.1 !global;

    #toggle:checked {
        & ~ .nav {
            .nav-item {
                font-size: 12px;
                color: #C4590E;
            }
        }

        @include left-col(0.1);
    }
}
