<!doctype html>
<html lang="en">
    <head>
      <script type="text/x-mathjax-config"> MathJax.Hub.Config({
        skipStartupTypeset: true,

        lazytex2jax: {
          displayMath: [['$$','$$'], ['\\[','\\]'], ['\\begin{align*}', '\\end{align*}']],
          inlineMath: [['\\(','\\)']],
        },

        TeX: {
          extensions: ["color.js","AMSmath.js"],
          equationNumbers: { autoNumber: "AMS" }
        },
        extensions: ["tex2jax.js"],

        TeX: {
          MAXBUFFER: 40*1024,
            Macros : {
             // RC-cross
             NP:          '\\lang{NP}',
             PSPACE:      '\\lang{PSPACE}',
             p:           '\\varphi',
             0:           '\\mathbf{0}',
             1:           '\\mathbf{1}',
             2:           '\\mathbf{2}',
             True:        '\\textsc{True}',
             False:       '\\textsc{False}',
             reducp:      ['{{#1} \\le_p {#2}}', 2],

             // Generic
             relax:       '{}',
             setlength:  ['{}', 2],
             allowbreak:  '{}',
             nums:        '{\\mathbb{N}}',
             ints:        '{\\mathbb{Z}}',
             rats:        '{\\mathbb{Q}}',
             reals:       '{\\mathbb{R}}',
             cpxs:        '{\\mathbb{C}}',
             floor:      ['{\\lfloor{#1}\\rfloor}', 1],
             ceiling:    ['{\\lceil{#1}\\rceil}', 1],
             set:        ['{{\\{#1}\\}}', 1],
             tuple:      ['{\\langle{#1}\\rangle}', 1],
             tup:        ['{\\langle{#1}\\rangle}', 1],
             bigfloor:   ['{\\left\\lfloor{#1}\\right\\rfloor}', 1],
             //bigceiling: ['{\\left\\lceil{#1}\\right\\rceil}', 1],
             bigtuple:   ['{\\left\\langle{#1}\\right\\rangle}', 1],
             myand:       '{\\mathrel{\\text{ and }}}',
             myor:        '{\\mathrel{\\text{ or }}}',
             card:       ['{\\|{#1}\\|}', 1],
             //bigcard:    ['{\\left\\|{#1}\\right\\|}', 1],
             st:          '{\\mathrel{\\;:\\;}}',
             symdiff:     '{\\mathop{\\triangle}}',
             emptystr:    '{\\varepsilon}',
             eclose:      '{\\textsc{eclose}}',
             tb:         ['{\\textbf{#1}}',1],
             merge:      ['{{#1}\\mathop{\\textit{merge}}{#2}}', 2],
             coloneqq:    ':=',
             bs:         ['{\\boldsymbol{#1}}', 1],
           }}, });
      </script>
      <script type="text/javascript"
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="/js/mathjax-lazyload.min.js"></script>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pade $title$</title>
      <link rel="stylesheet" href="/css/hakyll.css" />
      <link rel="stylesheet" href="/css/latex.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="stylesheet" href="/css/tocbot.css">
      <link rel="stylesheet" href="/css/pygments.css">
      $if(orig)$
      <link rel="stylesheet" href="$orig$.css"/>
      $endif$
    </head>
    <body>
        $body$
    </body>
</html>

